* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #841cbb;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.main {
  background-color: rgb(61, 42, 165);
  padding: 20px;
  margin: 0 10px 10px;
  border-radius: 15px;
  flex: 1;
  background-image: linear-gradient(to botton, #661094, #841cbb);
}

.main__texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__link:hover {
  text-decoration: underline;
}
